.card.card-shadow.card-color-weather-middle
    .card-block
        div(*ngIf="!city")
            p-autoComplete([(ngModel)]="newCityEntitie.country", [suggestions]="countriesList", (completeMethod)="search($event)", field="name")
            input(type="text", pInputText, [(ngModel)]="newCityEntitie.name")
            button(pButton, type="button", label="Add city...", (click)="addCity()")
        div(*ngIf="city")
            h3.card-title {{ city.name }}, {{ city.country }}
            p.card-text {{ cityWeather.main }}
            p.temperature.text-center 45 &deg;
            i.material-icons cloud_queue
            .row
                .col-sm-2.text-center
                    p 4
                    p icon
                    p 18 &deg;
                .col-sm-2.text-center
                    p 8
                    p icon
                    p 18 &deg;
                .col-sm-2.text-center
                    p 12
                    p icon
                    p 18 &deg;
                .col-sm-2.text-center
                    p 16
                    p icon
                    p 18 &deg;
                .col-sm-2.text-center
                    p 20
                    p icon
                    p 18 &deg;
                .col-sm-2.text-center
                    p 24
                    p icon
                    p 18 &deg;
            .text-center
                a.btn.btn-outline-info([routerLink]="['/city', city.id]") Details