.card-shadow {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  margin: 15px;
}

.temperature {
  font-size: 52px;
}

.text-center {
  text-align: center;
}

.card-color-weather-cold {
  background: #f2f6f8; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #f2f6f8 0%, #d8e1e7 26%, #b5c6d0 75%, #e0eff9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #f2f6f8 0%,#d8e1e7 26%,#b5c6d0 75%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #f2f6f8 0%,#d8e1e7 26%,#b5c6d0 75%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
  color: #fff;
}

.card-color-weather-middle {

  background: #e6f0a3; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #e6f0a3 0%, #d2e638 32%, #c3d825 88%, #dbf043 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #e6f0a3 0%,#d2e638 32%,#c3d825 88%,#dbf043 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #e6f0a3 0%,#d2e638 32%,#c3d825 88%,#dbf043 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: #fff;
}

.card-color-weather-hot {
  background: #ffa84c; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #ffa84c 0%, #ff7b0d 13%, #ff7b0d 40%, #ff7b0d 84%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #ffa84c 0%,#ff7b0d 13%,#ff7b0d 40%,#ff7b0d 84%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #ffa84c 0%,#ff7b0d 13%,#ff7b0d 40%,#ff7b0d 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: #fff;
}

.text-center .btn-outline-info {
  border-color: #fff;
}

.temperature i.material-icons {
  position: relative;
  font-size: 48px;
  left: 15px;
  top: 5px;
}

.card-add-location {
  background-color: #e6e6e6;
}

.add-location label {
  width: 205px;
  display: block;
  margin: 0 auto 10px;
}

.add-location button {
  display: block;
  margin: 0 auto;
}

.ui-inputtext {
  width: 205px;
}

.add-location .ui-button {
  background: transparent;
  border-color: #fff;
  color: #5bc0de;
  transition: all .2s ease-in-out;
  padding: .3rem .1rem;

}

.add-location .ui-button:hover {
  color: #fff;
  background-color: #5bc0de;
}

.close-card {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  cursor: pointer;
}

.card-shadow {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
    margin: 15px;
}

.add-location-item {
    width: 100%;
    border: 3px dashed #999;
    height: 75px;
    text-align: center;
}

.add-location-item i {
    line-height: 375px;
    font-size: 54px;
    color: #999;
    cursor: pointer;
}

.card-block {
  min-height: 420px;
}

.temperature img {
  position: relative;
  top: -4px;
  height: 10%;
}