doctype(html)
html
    head
        base(href="/")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
        script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js", integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=", crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(rel="stylesheet", href="bundle.css")
    body
        script(src="polyfills.bundle.js")
        script(src="vendor.bundle.js")
        script(src="main.bundle.js")